body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body > header{
    background-color: dodgerblue;
    color: white;
    padding: 1px;
    text-align: left;

}

nav > ul li a{
    color: white;
}

body > footer{
    background-color: dodgerblue;
    color: white;
    padding: 1px;
    text-align: center;
}

